@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-image : url('assets/bg-light.png');
  --color-purple : #6C40B5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-image: url('assets/bg-dark.png');
    --color-purple : #28124D;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background-image: var(--background-image);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.bg-purple{
  background: var(--color-purple);
}
